.search-bar-container {
  max-width: 600px;
  /* Adjust the width as needed */
  margin: 0 auto;
}

.input-group .form-control {
  border-right: 0;
}

.input-group .input-group-text {
  background: white;
  border-right: 0;
}

/* .input-group .form-control+.form-control {
  border-left: 0;
} */

.input-group .input-group-append .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group .input-group-prepend .input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.event-thumbnail {
  height: 200px;
  object-fit: cover;
  border-radius: 0px;
}

.card-border:hover {
  opacity: 0.8;
  cursor: pointer;
}